[submodule "external/STM32CubeL4"]
	path = external/STM32CubeL4
	url = https://github.com/STMicroelectronics/STM32CubeL4.git
[submodule "external/STM32CubeF4"]
	path = external/STM32CubeF4
	url = https://github.com/STMicroelectronics/STM32CubeF4.git
[submodule "external/STM32CubeF7"]
	path = external/STM32CubeF7
	url = https://github.com/STMicroelectronics/STM32CubeF7.git
[submodule "external/STM32CubeG4"]
	path = external/STM32CubeG4
	url = https://github.com/STMicroelectronics/STM32CubeG4.git
