[submodule "firmware/common/STM32CubeL4"]
	path = common/STM32CubeL4
	url = https://github.com/STMicroelectronics/STM32CubeL4.git
[submodule "common/STM32CubeF4"]
	path = common/STM32CubeF4
	url = https://github.com/STMicroelectronics/STM32CubeF4.git
[submodule "common/STM32CubeF7"]
	path = common/STM32CubeF7
	url = https://github.com/STMicroelectronics/STM32CubeF7.git
