# Keep these empty directories
!/build
/build/**
!/output
/output/**
!/docs
/docs/**

# Allow per-user settings and debug states
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/c_cpp_properties.json
.vscode/.cortex-debug*
.vscode/settings.json

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# MaxOS
*.DS_Store

# DBC files, merging these is basically useless
*.dbc