.
!source/*
!common/*
!cmake/*
!CMakeLists.txt
!docker-compose.yaml
!Dockerfile
!LICENSE
!per_build.py
!README.md
!requirements.txt

# Keep these empty directories
!/build
/build/*
!/output
/output/*

# Allow per-user settings and debug states
.vscode/settings.json
.vscode/.cortex-debug.*

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# MaxOS
.DS_Store