// RX Dispatcher
static inline void CAN_rx_dispatcher(uint32_t id, uint8_t *data, uint8_t len, uint8_t peripheral_idx) {
    switch(id) {
    {% for entry in ctx.rx_entries %}
        case {{ entry.msg.macro_name }}_MSG_ID:
            if (peripheral_idx == {{ entry.peripheral_index }}) {
                uint64_t host_data = 0;
                memcpy(&host_data, data, len);
                
                {% for codec in entry.codecs %}
                {% for line in codec.rx_lines %}
                {{ line }}
                {% endfor %}
                {% endfor %}
                
                can_data.{{ entry.msg.name }}.last_rx = OS_TICKS;
                {% if entry.callback_name %}
                {{ entry.callback_name }};
                {% endif %}
            }
            break;
    {% endfor %}
        default:
            break;
    }
}
