name: Generate Documentation

on:
  push:
    branches: [master]
  workflow_dispatch:

permissions:
  contents: write

jobs:
  docs:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
        
      - name: Doxygen Action
        uses: mattnotmitt/doxygen-action@v1.12.0
        with:
          doxyfile-path: "./Doxyfile"
          working-directory: "."
    
      - name: Deploy
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./docs/doxygen/html
